<launch>
    <group ns="hydrophones">
        <!-- parameters -->
        <node name="param" pkg="hydrophones" type="param.py" respawn="false" output="screen"/>

        <!-- audio -->
        <node name="audio" pkg="hydrophones" type="alsa.py" respawn="true" output="screen"/>
    </group>
</launch>
