<launch>
	<!-- Launches the front_cv node and Gazebo. -->

	<!-- Loads the appropriate parameters used by the computer vision package -->
	<rosparam command="load" file="$(find computer_vision)/computerVisionParameters.yaml"/>

 	<arg name="isUsingSimulation" default="1"/>

 	<group if="$(arg isUsingSimulation)">
 		<!-- Launches front_cv node. -->
    	<node name="cv_Front" pkg="computer_vision" type="front_cv_node"  respawn="false" output="screen">
    		<param name="is_using_helper_windows" type="bool" value="true" />
    	</node>
    	<!-- Launches Gazebo. -->
 		<include file="$(find simulator)/launch/simulator.launch" />
  	</group>

  	<group unless="$(arg isUsingSimulation)">
  		<!-- Launches front_cv node. -->
    	<node name="cv_Front" pkg="computer_vision" type="front_cv_node"  respawn="false" output="screen">
    		<param name="image_feed/left" type="str" value="/camera_front_left/camera/image_color" />
    		<param name="is_using_helper_windows" type="bool" value="true" />
    	</node>
  	</group>
</launch>
