<launch>
  <!-- launches: planner node as well as all of its dependencies -->
  <!-- Written by Alex Reiff, May 17, McGill Robotics -->

  <!-- planner -->
  <include file="$(find planner)/launch/planner_setup_real.launch" />

  <include file="$(find planner)/launch/planner_node.launch" >
    <arg name="isInSim" value="0"/>
  </include>

</launch>
