<launch>
  <!-- launches: just the planner node -->
  <!-- Written by Alex Reiff, April 28, McGill Robotics -->

  <arg name="start_task" default="gate"/>
  <arg name="end_task" default="gate"/>

  <node name="planner" pkg="planner" type="planner" respawn="false" output="screen">
  	<param name="xml_files_path" value="$(find planner)/xml"/>

    <param name="start_task" type="str" value="$(arg start_task)"/>
    <param name="end_task" type="str" value="$(arg end_task)"/>
    
    <!--<param name ="start_task" type="int" value="1"/>-->
    <!--<param name ="end_task" type="int" value="1"/>-->
  </node>
</launch>
