<launch>
  <!-- launches: planner node as well as all of its dependencies -->
  <!-- Written by Alex Reiff, April 29, McGill Robotics -->

  <!-- planner -->
  <include file="$(find planner)/launch/planner_setup_sim.launch" />

  <include file="$(find planner)/launch/planner_node.launch" />

</launch>
