<launch>
  <!-- launches: everything planner needs running before it can start-->
  <!-- WARNING: DOES NOT START PLANNER -->
  <!-- Written by Alex Reiff, Jan 29, McGill Robotics -->
  <!-- Copied from Nick Speal's "template" in Controls -->

  <!-- control systems -->
  <include file="$(find controls)/launch/controls4planner.launch" />

  <!-- Planner -->
  <node name="Planner" pkg="planner" type="Planner" respawn="false" output="screen">
  	<param name="xml_files_path" value="$(find planner)/xml"/>
  </node>
 

</launch>
