<launch>
  <!-- launches: the dependencies for planner in real life but not the planner node itself (aka for front end use)-->
  <!-- WARNING: DOES NOT START PLANNER -->
  <!-- Written by Alex Reiff, May 17, McGill Robotics -->
  <!-- Updated by Mathieu Wang, July 8, McGIll Robotics -->

  <!-- electrical interfaces -->
  <include file="$(find status)/launch/status.launch" />

  <!--control systems -->
  <include file="$(find controls)/launch/controls.launch" />

  <!-- computer vision -->
  <include file="$(find computer_vision)/launch/computer_vision.launch" >
    <arg name="isUsingSimulation" value ="0" />
  </include>

</launch>
