<launch>
  <!-- launches: the dependencies for planner but not the planner node itself (aka for front end use)-->
  <!-- WARNING: DOES NOT START PLANNER -->

  <!-- Simulator -->
  <include file="$(find simulator)/launch/simulator.launch" />

  <!--control systems -->
  <include file="$(find controls)/launch/sim_controls.launch" />

  <!-- computer vision -->
  <include file="$(find computer_vision)/launch/computer_vision.launch" />

  <!-- state estimation -->
  <include file="$(find state_estimation)/launch/state_estimation-sim.launch" />

  <!-- blinky -->
  <include file="$(find blinky)/launch/blinky.launch" />

</launch>
