<launch>
	<group ns="electrical_interface" >
		<node pkg="rosserial_python" type="serial_node.py" name="arduino" args="/dev/arduino" respawn="true" output="screen">
			<remap from="/motor" to="/electrical_interface/motor"/>     
			<remap from="/temperature" to="/electrical_interface/temperature"/>   
			<remap from="/solenoid" to="/electrical_interface/solenoid"/>   
			<remap from="/batteryVoltage1" to="/electrical_interface/batteryVoltage1"/>   
			<remap from="/batteryVoltage2" to="/electrical_interface/batteryVoltage2"/>   
			<remap from="/depth" to="/electrical_interface/depth"/>   
			<remap from="/pressure" to="/electrical_interface/pressure"/>   
		</node>
	</group>
</launch>
