<launch>
	<!-- launches simulator, controls, testControls, currentCVTaskPublisher, distanceCalculator -->

  <include file="$(find simulator)/launch/simulator.launch" />
  <include file="$(find controls)/launch/controls.launch" />

  <!--setPointPublisher -->
  <node name="testControls" pkg="controls" type="testControls"  respawn="false" output="screen"/>
  
  <!-- state estimation stuff -->
    <node name="CurrentCVTaskPublisher" pkg="planner" type="CurrentCVTaskPublisher"  respawn="false" output="screen"/>
    <node name="distanceCalculator" pkg="computer_vision" type="distanceCalculator"  respawn="false" output="screen"/>

  <!-- RQT PLOT -->
    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"  respawn="false" output="screen"
    args=
    "
    /controls/wrench/force/z
      /setPoints/Depth/data
      /state_estimation/depth
      /state_estimation/depth/data
    "
    />

</launch>

      <!-- X
      /controls/wrench/force/x
      /setPoints/YPos/data
      /front_cv/data/x_distance
      -->

      <!--DEPTH
      /controls/debug/xGain/proportional
      /controls/wrench/force/z
      /setPoints/Depth/data
      /depthCalculated/data
      -->

      <!-- PITCH
      /controls/wrench/torque/y
      /setPoints/Pitch/data
      /front_cv/data/pitch_angle

      /controls/wrench/force/y
    /setPoints/YPos/data
    /front_cv/data/y_distance
    -->