<launch>
	<!-- launches simulator, controls, testControls, currentCVTaskPublisher, distanceCalculator -->

  <include file="$(find simulator)/launch/simulator.launch" />
  <include file="$(find controls)/launch/controls.launch" />

  <!--setPointPublisher -->
  <node name="testControls" pkg="controls" type="testControls"  respawn="false" output="screen"/>
  
  <!-- state estimation stuff -->
    <node name="CurrentCVTaskPublisher" pkg="planner" type="CurrentCVTaskPublisher"  respawn="false" output="screen"/>
    <node name="distanceCalculator" pkg="computer_vision" type="distanceCalculator"  respawn="false" output="screen"/>

  <!-- RQT PLOT -->
    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"  respawn="false" output="screen"
    args=
    "
    /controls/wrench/torque/z
    /setPoints/Yaw/data
    /front_cv_data/yaw_angle
    "
    />

</launch>

      <!--
      /controls/wrench/force/x
      /setPoints/YPos/data
      /front_cv_data/x_distance
      -->

      <!--
      /controls/debug/xGain/proportional
      /controls/wrench/force/z
      /setPoints/Depth/data
      /depthCalculated/data
      -->