<launch>
  <!-- launches: IMU reinitialization -->
  <!-- Written by Anass Al-Wohoush, July 16, McGill Robotics -->

  <arg name="mean" default="false"/> <!-- false means take median instead -->
  <arg name="timeout" default="1"/>
  <arg name="timer" default="5"/>
  <arg name="go" default="false"/>

  <node name="countdown" pkg="state_estimation" type="initialize_imu.py" respawn="false" output="screen">
    <param name="mean" type="bool" value="$(arg mean)"/>
    <param name="timeout" type="int" value="$(arg timeout)"/>
    <param name="timer" type="int" value="$(arg timer)"/>
    <param name="go" type="bool" value="$(arg go)"/>
  </node>
</launch>
