<launch>
	<!-- launches 3 nodes: front-end, depthController, gazebo -->
	<!-- Written by Nick Speal, Dec 2013, McGill Robotics -->
	
	<!-- GAZEBO -->
		<include file="$(find gazebo_ros)/launch/empty_world.launch">
			<arg name="world_name" value="$(find Underwater-Simulator)/worlds/Underwater-Simulator.world"/>
		</include>
	<!-- front-end -->
	      <node name="front_end" pkg="front_end" type="central_app.py" respawn="false" output="screen"/>         

	<!-- depthController -->
	        <node name="depthController" pkg="controls" type="depthController"  respawn="false" output="screen"/>          
</launch>
