	<launch>
	<!-- launches 3 nodes: front-end, controls, simulator -->
	<!-- Written by David Lavoie-Boutin, Jan 16, McGill Robotics -->
	
  <!-- simulator -->
  <include file="$(find simulator)/launch/simulator.launch" />
	
  <!-- front-end -->
  <node name="front_end" pkg="front_end" type="central_app.py" respawn="false" output="screen"/>
        
  <!-- control systems -->
  <include file="$(find controls)/launch/controls.launch" />

  <!-- state estimation stuff -->
    <node name="distanceCalculator" pkg="computer_vision" type="distanceCalculator"  respawn="false" output="screen"/>

</launch>
