<launch>
	<!-- launches 2 nodes: Controls, simulator -->
	<!-- Written by David Lavoie-Boutin, Jan 16, McGill Robotics -->
	
        <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(find simulator)/worlds/simulator.world"/>
        </include>

	<!-- control systems -->
	<node name="controls" pkg="controls" type="controls"  respawn="false" output="screen"/>
        <!-- CVNode front left-->
                <node name="CV_Front_left" pkg="computer_vision" type="FrontCVNode"  respawn="false" output="screen" args="/simulator/camera1/image_raw"/>
        <!-- CVNode down -->
                <node name="CV_Down" pkg="computer_vision" type="DownCVNode"  respawn="false" output="screen" args="/simulator/camera3/image_raw"/>

</launch>
