<launch>
    <arg name="cpu" default="70"/>
    <arg name="ssd" default="65"/>

    <!-- blinky -->
    <node name="blinky" pkg="blinky" type="blinky_server.py" respawn="true"/>

    <!-- battery -->
    <node name="battery" pkg="status" type="battery_lights.py"/>

    <!-- ethernet -->
    <node name="connection" pkg="status" type="connection_notifier.py" output="screen"/>

    <!-- temperature -->
    <node name="temperature" pkg="status" type="temperature.py" output="screen">
        <param name="cpu" type="int" value="$(arg cpu)"/>
        <param name="ssd" type="int" value="$(arg ssd)"/>
    </node>

    <!-- usb ports -->
    <node name="usb" pkg="status" type="usb_monit.py" output="screen"/>
</launch>
